@charset "UTF-8";

body {
    width: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}

h1 {
    color: rgb(12, 145, 207);
    text-align: center;
    background-color: rgb(159, 211, 235);
    font-size: 40px;
}

h2 {
    color: rgb(12, 145, 207);
    background-color: rgb(159, 211, 235);
    font-size: 36px;
    border-bottom: solid 2px rgb(12, 145, 207);
    padding: 10px;
}

